@import 'partials/reset';

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #fcfcfc;
  height: 100vh;
}

header {
  text-align: center;
  padding: 50px;

  h1 {
    font-size: 2rem;
  }
}

@import 'partials/menu';